extends layout

block content
  h1 Do Some Work

  p
    form(action="/", method="POST")
      button(type="submit") Start The Work!
  
  h1 Progress of Work
  - each key in Object.keys(progressList)
    - status = progressList[key]
    p
      = status.id
      |  :  
      = status.percent
      |% complete

